body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 16ev;
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
    background-color: #000000;
/*    background-image: linear-gradient(red, yellow);*/
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}

.landing-header {
    position: fixed;
    top: 0px;
    right: 0;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: right;
}

.home-header {
    position: fixed;
    top: 0px;
/*    right: 0px;*/
/*    left: 0px;*/
/*    height: 56px;*/
    padding: 10px;
    background-color: #666666;
    width: 100%;
    display: flex;
/*    justify-content: right;*/
/*    align-items: center;*/
    justify-content: center;  /* Center content horizontally */
    align-items: center;
    z-index: 9999;
}

.top-right-btn {
    margin-left: 10px;

    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
/*    justify-content: right;*/

    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.center-btn {
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.random-walk-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-dropdown {
    position: fixed;
    right: 10px;
    z-index: 9999999;
}

.user-btn {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 100%;
    font-size: 26px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-btn i {
  position: relative;
  top: 1px;
  left: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
/*    border-radius: 0px;*/
    min-width: 125px;
    right: -10px;
    top: 100%;
/*    z-index: 99999999;*/
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
/*    z-index: 99999;*/
}

.dropdown-content a:hover {
    background-color: #cccccc;
/*    z-index: 99999;*/
}

.user-dropdown:hover .dropdown-content {
    display: block;
/*    z-index: 9999;*/
}

.btn:hover {
    background-color: #ff6f00;
    transform: scale(1.05);
}

.plain-text-btn {
    padding: 10px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    border: none;
    background: 0 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.landing {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 50px;
}

.landing h1 {
    font-size: 3em;
    margin: 0px 0px;
}

.landing h2 {
/*    font-size: 2em;*/
    margin: 10px 0px;
}

.landing h3 {
/*    font-size: 1.5em;*/
    margin: 10px 0px;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 50px;
}

.input-box {
    padding: 0.5px;
}

.basic-info {
    font-size: 16px;
    border-radius: 2px;
    padding: 1px;
    border: none;
    min-width: 12vw;
    margin: 1px 0px;
}

.form h1 {
    text-align: center;
    color: white;
    margin: 10px 0px;
}

.form h2 {
    margin: 10px 0px;
}

.form h3 {
    margin: 10px 0px;
}














#user-liked-categories-container-header {
    width: 21%;
    height: 85%;
    position: absolute;
    top: 81px;
    left: 15px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;

}

#user-liked-categories-container-header1 {
    width: 33%;
    height: 85%;
    position: absolute;
    top: 81px;
/*    left: 30%;*/
/*    right: 100px;*/
/*    display: flex;*/
/*    transform: translate(50%, -50%);*/
/*    left: 640px;*/

    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0%);

    justify-content: center;

    padding: 0px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    z-index: 1;

}



#user-liked-categories-container {
    position: relative;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: white;
    align-content: center;
}

#category-list {
    padding: 0;
    margin: 0;
    justify-content: left;
}

#category-list li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: left;
}


#category-list li:hover {
    background-color: #ffff00;
}






.empty-state-button {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}


/*
.categories-list {
    flex-grow: 1;
}

.menu-container.empty .empty-state-button {
    display: block;
}
*/
